ul {
    list-style: none;
    overflow: hidden;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
   
    
    
}
li {
    float: left;
    padding: 10px 0px;
}

li a {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    text-decoration: none;
    color: white;
    margin-left: 150px;
    margin-top: 0px;
    padding: 1px 10px;
}
li a:hover {
color: red;

}


.home {
    background-color: powderblue;
    padding-left: 70px;
    margin-left: 7px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
}


body {
    background-image: url(../images/Background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.image-container {
    text-align: right;
    margin: 20px;
    float: right;
    
}

.image-name {
    font-size: 18px;
    margin-top: 10px;
}
.button:hover{
background-color: darkmagenta;
}
.words {
    font-family: Geneva;
}

.logo {
    background-color: #0077cc; /* Background color */
    border-radius: 50%; /* Circular shape */
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.initials {
    font-family: 'Arial', sans-serif; /* Font style */
    font-size: 50px; /* Font size */
    color: white; /* Text color */
    font-weight: bold; /* Bold text */
}
.hover-enlarge {
    transition: transform 0.3s ease;
}
.hover-enlarge:hover {
    transform: scale(1.2);
}
.button {
    background-color: darkorange;
    color: black;
    border-radius: 20px;
    padding-right: 40px; 
    font-size: larger;

}
.button:hover {
    background-color: aliceblue;
    color: crimson;
}
.footer {
    float: inline-end;
    background-color: #333;
    color: white;
    text-align: center;
    padding-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5); 
}



    
